
  <div class="row">
    <div class="row">
      <% @artworks.each do |artwork| %>
        <% artwork.artworks.each do |photo| %>
          <div class="col-3 mb-2" data-aos="zoom-in">
            <div class="card-image">
              <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
              <div class="card-image-infos">
              <div>
                <h6> <%= artwork.title %> </h6>
                <p><%= artwork.description %></p>
              </div>
            <%# <span class="text-muted font-weight-normal"> %>
            <%# </span> %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
