<div class="col-9 mt-5 mx-auto">
  <h4> Edit Artwork </h4>
    <div class="col-6 mt-5 mx-auto d-flex justify-content-between align-items-center">
    <%= render "artworks/form", artwork: @artwork %>
</div>
