.button {
  display: flex;
  height: 50px;
  padding: 15px 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  margin: 5px 10px;
  border: none;
}

.button-blue {
  background: #3D00B7;

  input {
    color: white;
  }
}

.button-white {
  background: #FFFFFF;
  color: #3D00B7;
}

.button-outline {
  border: 1px solid #3D00B7;
  color: #3D00B7;
}

.full-width-button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
}
