.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
}

.card-image {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 300;
  border-radius: 8px;
}

.card-image > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-image .card-image-infos {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.cards-vertical {
  display: flex;
  overflow: scroll;
  gap: 10px;
}

.card-review {
  width: 300px;
  flex-shrink: 0;
  height: 100%;
  padding: 30px;
  border-radius: 8px;
  border: 1px solid #3D00B7;

  p {
    font-weight:lighter;
    font-size:12px;
    line-height: 1.25;
  }
}
