.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
}

.card-image {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 300;
  border-radius: 8px;
}

.card-image > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-image .card-image-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
