@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

body {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 0;
}

h1, .h1 {
  font-size: 50px;
  line-height: 68px;
  margin: 10px 0;
}

h2, .h2 {
  font-size: 30px;
  line-height: 35px;
  margin: 10px 0;
  font-weight: 500;
}

h5, .h5 {
  font-size: 20px;
  line-height: 35px;
  margin: 10px 0;
  font-weight: 600;
}

p {
  font-size: 18px;
  line-height: 35px;
  font-weight: 400;
  letter-spacing: 0.66px;
}
